USE [master]
GO
/****** Object:  Database [DATA_QUAN_LY_KHACH_SAN]    Script Date: 5/5/2018 2:04:06 AM ******/
CREATE DATABASE [DATA_QUAN_LY_KHACH_SAN]
 CONTAINMENT = NONE
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DATA_QUAN_LY_KHACH_SAN].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DATA_QUAN_LY_KHACH_SAN]
GO
USE [DATA_QUAN_LY_KHACH_SAN]
GO
/****** Object:  Table [dbo].[BAOCAO_DOANHTHUTHEOLOAIPHONG]    Script Date: 5/5/2018 2:04:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BAOCAO_DOANHTHUTHEOLOAIPHONG](
	[MaBCDoanhThu] [varchar](10) NOT NULL,
	[ThangBaoCao] [varchar](10) NOT NULL,
 CONSTRAINT [P_BAOCAO_DOANHTHUTHEOLOAIPHONG] PRIMARY KEY CLUSTERED 
(
	[MaBCDoanhThu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHI_TIET_HOA_DON]    Script Date: 5/5/2018 2:04:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHI_TIET_HOA_DON](
	[MaChiTietHD] [varchar](10) NOT NULL,
	[MaHoaDon] [varchar](10) NOT NULL,
	[SoNgayThue] [int] NOT NULL,
	[DonGia] [money] NULL,
	[PhiDichVu] [money] NULL,
	[ThanhTien] [money] NULL,
	[NgayThanhToan] [date] NULL,
	[MaPhong] [varchar](10) NOT NULL,
 CONSTRAINT [P_CHI_TIET_HOA_DON] PRIMARY KEY CLUSTERED 
(
	[MaChiTietHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHI_TIET_PHIEU_THUE]    Script Date: 5/5/2018 2:04:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHI_TIET_PHIEU_THUE](
	[MaChiTietPT] [varchar](10) NOT NULL,
	[MaKhachHang] [varchar](10) NOT NULL,
	[MaPhieuThue] [varchar](10) NOT NULL,
 CONSTRAINT [P_CHI_TIET_PHIEU_THUE] PRIMARY KEY CLUSTERED 
(
	[MaChiTietPT] ASC,
	[MaKhachHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIET_BAOCAODOANHTHU]    Script Date: 5/5/2018 2:04:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIET_BAOCAODOANHTHU](
	[MaBCCTDoanhThu] [varchar](10) NOT NULL,
	[MaLoaiPhong] [varchar](10) NOT NULL,
	[MaBCDoanhThu] [varchar](10) NOT NULL,
	[DoanhThuThang] [money] NULL,
	[TiLe] [char](10) NULL,
 CONSTRAINT [P_CHITIET_BAOCAODOANHTHU] PRIMARY KEY CLUSTERED 
(
	[MaBCCTDoanhThu] ASC,
	[MaLoaiPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DANH_MUC]    Script Date: 5/5/2018 2:04:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DANH_MUC](
	[DMLoaiPhong] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DICH_VU]    Script Date: 5/5/2018 2:04:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DICH_VU](
	[MaDichVu] [varchar](10) NOT NULL,
	[TenDichVu] [nvarchar](50) NOT NULL,
	[DonGia] [money] NULL,
 CONSTRAINT [P_DICH_VU] PRIMARY KEY CLUSTERED 
(
	[MaDichVu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOA_DON]    Script Date: 5/5/2018 2:04:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOA_DON](
	[MaHoaDon] [varchar](10) NOT NULL,
	[TenKhachHang] [nvarchar](50) NOT NULL,
	[TriGia] [money] NULL,
 CONSTRAINT [P_HOA_DON] PRIMARY KEY CLUSTERED 
(
	[MaHoaDon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACH_HANG]    Script Date: 5/5/2018 2:04:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACH_HANG](
	[MaKhachHang] [varchar](10) NOT NULL,
	[TenKhachHang] [nvarchar](50) NOT NULL,
	[CMND] [nvarchar](15) NOT NULL,
	[DiaChi] [nvarchar](50) NOT NULL,
	[MaLoaiKhach] [varchar](10) NOT NULL,
 CONSTRAINT [P_KHACH_HANG] PRIMARY KEY CLUSTERED 
(
	[MaKhachHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAI_KHACH_HANG]    Script Date: 5/5/2018 2:04:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAI_KHACH_HANG](
	[MaLoaiKhach] [varchar](10) NOT NULL,
	[TenLoaiKhach] [nvarchar](50) NOT NULL,
	[GhiChu] [ntext] NULL,
 CONSTRAINT [P_LOAI_KHACH_HANG] PRIMARY KEY CLUSTERED 
(
	[MaLoaiKhach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAI_PHONG]    Script Date: 5/5/2018 2:04:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAI_PHONG](
	[MaLoaiPhong] [varchar](10) NOT NULL,
	[TenLoaiPhong] [nvarchar](50) NOT NULL,
	[DonGia] [money] NULL,
 CONSTRAINT [P_LOAI_PHONG] PRIMARY KEY CLUSTERED 
(
	[MaLoaiPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEU_THUE_PHONG]    Script Date: 5/5/2018 2:04:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEU_THUE_PHONG](
	[MaPhieuThue] [varchar](10) NOT NULL,
	[NgayBatDauThue] [date] NOT NULL,
	[MaPhong] [varchar](10) NOT NULL,
 CONSTRAINT [P_PHIEU_THUE_PHONG] PRIMARY KEY CLUSTERED 
(
	[MaPhieuThue] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHONG]    Script Date: 5/5/2018 2:04:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHONG](
	[MaPhong] [varchar](10) NOT NULL,
	[TinhTrang] [nvarchar](10) NOT NULL,
	[MaLoaiPhong] [varchar](10) NOT NULL,
	[GhiChu] [ntext] NULL,
 CONSTRAINT [P_PHONG] PRIMARY KEY CLUSTERED 
(
	[MaPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THAM_SO]    Script Date: 5/5/2018 2:04:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THAM_SO](
	[SoKhachToiDa] [int] NOT NULL,
	[PhuThu] [float] NOT NULL,
	[HeSo] [float] NOT NULL,
	[SoNgayThue] [int] NULL,
	[PhuThuKhachThu] [int] NULL,
	[SLKhachNuocNgoai] [int] NULL
) ON [PRIMARY]
GO
INSERT [dbo].[CHI_TIET_PHIEU_THUE] ([MaChiTietPT], [MaKhachHang], [MaPhieuThue]) VALUES (N'1', N'1', N'1')
INSERT [dbo].[CHI_TIET_PHIEU_THUE] ([MaChiTietPT], [MaKhachHang], [MaPhieuThue]) VALUES (N'2', N'2', N'2')
INSERT [dbo].[CHI_TIET_PHIEU_THUE] ([MaChiTietPT], [MaKhachHang], [MaPhieuThue]) VALUES (N'3', N'3', N'3')
INSERT [dbo].[DANH_MUC] ([DMLoaiPhong]) VALUES (N'LP001')
INSERT [dbo].[DANH_MUC] ([DMLoaiPhong]) VALUES (N'LP002')
INSERT [dbo].[DANH_MUC] ([DMLoaiPhong]) VALUES (N'LP003')
INSERT [dbo].[KHACH_HANG] ([MaKhachHang], [TenKhachHang], [CMND], [DiaChi], [MaLoaiKhach]) VALUES (N'1', N'Phan Văn A', N'275649386', N'Đồng Nai', N'LK001')
INSERT [dbo].[KHACH_HANG] ([MaKhachHang], [TenKhachHang], [CMND], [DiaChi], [MaLoaiKhach]) VALUES (N'2', N'Lý Thị B', N'234154687', N'Lâm Đồng', N'LK002')
INSERT [dbo].[KHACH_HANG] ([MaKhachHang], [TenKhachHang], [CMND], [DiaChi], [MaLoaiKhach]) VALUES (N'3', N'Đào Văn C', N'234987896', N'An Giang', N'LK001')
INSERT [dbo].[LOAI_KHACH_HANG] ([MaLoaiKhach], [TenLoaiKhach], [GhiChu]) VALUES (N'LK001', N'Nội địa', N'')
INSERT [dbo].[LOAI_KHACH_HANG] ([MaLoaiKhach], [TenLoaiKhach], [GhiChu]) VALUES (N'LK002', N'Nước ngoài', N'')
INSERT [dbo].[LOAI_PHONG] ([MaLoaiPhong], [TenLoaiPhong], [DonGia]) VALUES (N'LP001', N'A', 150000.0000)
INSERT [dbo].[LOAI_PHONG] ([MaLoaiPhong], [TenLoaiPhong], [DonGia]) VALUES (N'LP002', N'B', 170000.0000)
INSERT [dbo].[LOAI_PHONG] ([MaLoaiPhong], [TenLoaiPhong], [DonGia]) VALUES (N'LP003', N'C', 200000.0000)
INSERT [dbo].[PHIEU_THUE_PHONG] ([MaPhieuThue], [NgayBatDauThue], [MaPhong]) VALUES (N'1', CAST(N'2013-12-23' AS Date), N'2')
INSERT [dbo].[PHIEU_THUE_PHONG] ([MaPhieuThue], [NgayBatDauThue], [MaPhong]) VALUES (N'2', CAST(N'2013-12-14' AS Date), N'4')
INSERT [dbo].[PHIEU_THUE_PHONG] ([MaPhieuThue], [NgayBatDauThue], [MaPhong]) VALUES (N'3', CAST(N'2013-12-09' AS Date), N'5')
INSERT [dbo].[PHONG] ([MaPhong], [TinhTrang], [MaLoaiPhong], [GhiChu]) VALUES (N'1', N'Trống', N'LP002', N'nhìn ra biển, giường đôi')
INSERT [dbo].[PHONG] ([MaPhong], [TinhTrang], [MaLoaiPhong], [GhiChu]) VALUES (N'10', N'Trống', N'LP003', N'nhìn ra biển, giường đơn')
INSERT [dbo].[PHONG] ([MaPhong], [TinhTrang], [MaLoaiPhong], [GhiChu]) VALUES (N'11', N'Trống', N'LP003', N'giường đơn')
INSERT [dbo].[THAM_SO] ([SoKhachToiDa], [PhuThu], [HeSo], [SoNgayThue], [PhuThuKhachThu], [SLKhachNuocNgoai]) VALUES (3, 0.25, 1.5, 0, 3, 1)
ALTER TABLE [dbo].[CHI_TIET_HOA_DON] ADD  DEFAULT ((0)) FOR [DonGia]
GO
ALTER TABLE [dbo].[CHI_TIET_HOA_DON] ADD  DEFAULT ((0)) FOR [PhiDichVu]
GO
ALTER TABLE [dbo].[CHI_TIET_HOA_DON] ADD  DEFAULT ((0)) FOR [ThanhTien]
GO
ALTER TABLE [dbo].[DICH_VU] ADD  DEFAULT ((0)) FOR [DonGia]
GO
ALTER TABLE [dbo].[HOA_DON] ADD  DEFAULT ((0)) FOR [TriGia]
GO
ALTER TABLE [dbo].[LOAI_KHACH_HANG] ADD  DEFAULT ('') FOR [GhiChu]
GO
ALTER TABLE [dbo].[LOAI_PHONG] ADD  DEFAULT ((0)) FOR [DonGia]
GO
ALTER TABLE [dbo].[PHONG] ADD  DEFAULT ('') FOR [GhiChu]
GO
ALTER TABLE [dbo].[CHI_TIET_HOA_DON]  WITH CHECK ADD  CONSTRAINT [F_CHI_TIET_HOA_DON_1] FOREIGN KEY([MaHoaDon])
REFERENCES [dbo].[HOA_DON] ([MaHoaDon])
GO
ALTER TABLE [dbo].[CHI_TIET_HOA_DON] CHECK CONSTRAINT [F_CHI_TIET_HOA_DON_1]
GO
ALTER TABLE [dbo].[CHI_TIET_HOA_DON]  WITH CHECK ADD  CONSTRAINT [F_CHI_TIET_HOA_DON_2] FOREIGN KEY([MaPhong])
REFERENCES [dbo].[PHONG] ([MaPhong])
GO
ALTER TABLE [dbo].[CHI_TIET_HOA_DON] CHECK CONSTRAINT [F_CHI_TIET_HOA_DON_2]
GO
ALTER TABLE [dbo].[CHI_TIET_PHIEU_THUE]  WITH CHECK ADD  CONSTRAINT [F_CHI_TIET_PHIEU_THUE_1] FOREIGN KEY([MaKhachHang])
REFERENCES [dbo].[KHACH_HANG] ([MaKhachHang])
GO
ALTER TABLE [dbo].[CHI_TIET_PHIEU_THUE] CHECK CONSTRAINT [F_CHI_TIET_PHIEU_THUE_1]
GO
ALTER TABLE [dbo].[CHI_TIET_PHIEU_THUE]  WITH CHECK ADD  CONSTRAINT [F_CHI_TIET_PHIEU_THUE_2] FOREIGN KEY([MaPhieuThue])
REFERENCES [dbo].[PHIEU_THUE_PHONG] ([MaPhieuThue])
GO
ALTER TABLE [dbo].[CHI_TIET_PHIEU_THUE] CHECK CONSTRAINT [F_CHI_TIET_PHIEU_THUE_2]
GO
ALTER TABLE [dbo].[CHITIET_BAOCAODOANHTHU]  WITH CHECK ADD  CONSTRAINT [F_CHITIET_BAOCAODOANHTHU] FOREIGN KEY([MaBCDoanhThu])
REFERENCES [dbo].[BAOCAO_DOANHTHUTHEOLOAIPHONG] ([MaBCDoanhThu])
GO
ALTER TABLE [dbo].[CHITIET_BAOCAODOANHTHU] CHECK CONSTRAINT [F_CHITIET_BAOCAODOANHTHU]
GO
ALTER TABLE [dbo].[KHACH_HANG]  WITH CHECK ADD  CONSTRAINT [F_KHACH_HANG] FOREIGN KEY([MaLoaiKhach])
REFERENCES [dbo].[LOAI_KHACH_HANG] ([MaLoaiKhach])
GO
ALTER TABLE [dbo].[KHACH_HANG] CHECK CONSTRAINT [F_KHACH_HANG]
GO
ALTER TABLE [dbo].[PHIEU_THUE_PHONG]  WITH CHECK ADD  CONSTRAINT [F_PHIEU_THUE_PHONG] FOREIGN KEY([MaPhong])
REFERENCES [dbo].[PHONG] ([MaPhong])
GO
ALTER TABLE [dbo].[PHIEU_THUE_PHONG] CHECK CONSTRAINT [F_PHIEU_THUE_PHONG]
GO
ALTER TABLE [dbo].[PHONG]  WITH CHECK ADD  CONSTRAINT [F_PHONG] FOREIGN KEY([MaLoaiPhong])
REFERENCES [dbo].[LOAI_PHONG] ([MaLoaiPhong])
GO
ALTER TABLE [dbo].[PHONG] CHECK CONSTRAINT [F_PHONG]
GO
USE [master]
GO
